body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    --color1: #08285B;
    --color2: #ffe798;
    --color3: #007761;
    --pagemargin: min(100vw, 7vw);
    --titlefont: "Gravitas One — Regular";
    --paragraphfont: "Poppins"
}

.firstpara {
    margin-top: 50px;
}

p {
    font-family: var(--paragraphfont);
    font-size: 16px;
    margin-left: var(--pagemargin);
    margin-right: var(--pagemargin);

    text-align: justify;
}

.lastpara {
    margin-bottom: var(--pagemargin);
}

.HomeHeader {
    margin: 0;
    padding: 0;
    height: min(100vh, 55vw);
    width: 100%;

}

.HomeHeader .HeaderBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: 0 0;
    overflow: hidden;
    z-index: 2;
    filter: brightness(50%);

}

.HomeHeader .hcontainer {
    position: relative;
    z-index: 3;
    top: 30vw;
    left: 1vw;
    float: left;
    background-color: transparent;

}

.HomeHeader .hcontainer h1 {
    padding: 0;
    padding-left: var(--pagemargin);
    padding-right: 20px;
    font-family: var(--titlefont);
    letter-spacing: 4px;
    font-size: max(7vw, 40px);
    color: white;

}

.menubar {
    background-color: white;
    margin-top: -53px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    width: 100%;
    /* Pay special attention here! */
    z-index: 3;
    position: sticky;
    top: -1px;
    box-shadow: 0 1px 6px 0;
    border-bottom: 3px solid var(--color1);
    border-top: 3px solid var(--color1);

}

.menubar a {
    font-size: max(1.2vw, 14px);
    font-family: var(--titlefont);
    color: black;
    text-decoration: none;
    padding: 1vw;
    padding-bottom: 1.1vw;

}

.menubar .currenttab {
    color: white;
    background-color: var(--color1);
}

.menubar a:hover {
    color: white;
    background-color: var(--color1);
}

/*Content*/
.SectionHeader {
    padding: 0;
    padding-top: 15px;
    margin: 0;
    font-family: var(--titlefont);
    letter-spacing: 4px;
    font-size: 25px;
    background-color: var(--color1);
    /*width: 100%;*/
    border-bottom: 8px solid var(--color2);

}

.SectionHeader table {
    width: 100%;
    text-align: left;

}

.SectionHeader table th {
    vertical-align: bottom;
}

.SectionHeader table .right {
    text-align: right;

}

.SectionHeader h2 {
    padding: var(--pagemargin);
    padding-bottom: 10px;
    padding-top: 60px;
    margin: 0;
    color: white;
}

.SectionHeader h3 {
    padding-left: var(--pagemargin);
    padding-right: var(--pagemargin);
    color: white;
    font-style: italic;
    opacity: 66%;
    font-size: 20px;
}

.about {
    margin: 0;
    margin-top: -20px;
}

.about .HeaderAndImage {
    list-style: none;
    padding-left: 0;

}

.about .HeaderAndImage .image {
    position: relative;
    float: right;
    z-index: 2;
    top: -130px;
    margin: 30px;
    margin-right: var(--pagemargin);
    margin-bottom: -120px;

}

.about .HeaderAndImage .SectionHeader {
    position: relative;
    z-index: 2;
    left: 0;

}

.about .HeaderAndImage .Headshot {
    object-fit: cover;
    border-radius: 50%;
    float: right;
    width: 25vw;
    height: 25vw;
    padding: 8px;
    background-color: white;
    border: 8px solid var(--color1);
    box-shadow: 0 0 0 8px var(--color2);

}

.about p {

}

.about .HeaderAndImage .image2 {
    position: relative;
    float: left;
    z-index: 2;
    top: 50px;
    left: var(--pagemargin);
    margin: 0;
    margin-bottom: 65px;
    margin-right: max(10vw, 85px);


}

.about .basspic {

    width: max(16vw, 200px);
    height: max(28vw, 270px);
    object-fit: cover;
    background-color: white;
    border: 8px solid var(--color1);
    box-shadow: 0 0 0 8px var(--color2);
    padding: 8px;
}

.button {
    width: 100px;
    margin: auto;
    margin-bottom: var(--pagemargin);
    height: 30px;
}

.button a {
    padding: 15px;
    height: inherit;
    background-color: var(--color2);
    text-decoration: none ;
    font-family: var(--paragraphfont);
    color: var(--color1);
    text-align: center;
}

.button a img {
    padding: 20px;
    height: inherit;
    width: auto;
}

.button a:hover {
    color: white;
    background-color: var(--color3);
}

.footer {
    width: 100%;
    background-color: var(--color1);
    color: white;
    margin: 0;
    align-content: center;
}

.footer h2 {
    width: 50vw;
    margin: auto;
    padding: 20px;
    text-align: center;
    /*border: 5px solid red;*/
}

.footer ul {
    list-style: none;
    width: 60vw;
    font-family: var(--paragraphfont);
    font-size: 16px;
    margin: auto;
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
    color: white;


}

.footer ul li {
    /*display: inline-block;*/
    margin: 10px;

}

.footer p {
    margin: 0;
    text-align: center;

}

.footer a {
    margin: 0;
    color: white;
    text-align: center;

}

.PageHeader {
    background-color: var(--color3);
    margin: 0;
    padding: 0;
}

.PageHeader .headingcontainer {
    margin: 0;
    padding: var(--pagemargin);
    padding-top: max(min(var(--pagemargin), 1vw), 20px);
    padding-bottom: max(min(var(--pagemargin), 20vw), 60px);
    /*padding-top: 0;*/
}

.PageHeader h1 {
    font-family: var(--titlefont);
    letter-spacing: 4px;
    font-size: max(7vw, 40px);
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;


}

.instagram {
    align-content: center;
}


.instagram ul {
    list-style: none;
    position: relative;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.instagram ul li {
    margin: 16px;
    display: inline-grid;
    background-color: white;
    border: 8px solid var(--color1);
    box-shadow: 0 0 0 8px var(--color2);
    padding: 8px;

}
